accelerate==1.6.0
opencv-python==4.11.0.86
pandas==2.2.3
protobuf==6.30.2
pyarrow==19.0.1
scenedetect==0.6.6
scipy==1.15.2
sentencepiece==0.2.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
transformers==4.51.0
